### Que 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [3]:
soup=BeautifulSoup(page.content)
titles = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])
print(*titles,sep='\n\n')

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

### Que 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [4]:
page=requests.get("https://www.imdb.com/chart/top/")
page

In [5]:
soup=BeautifulSoup(page.content)

In [6]:
title=soup.find_all('td',class_='titleColumn')
movie_title=[]
year_release = []
j=0
for i in range(0,100):
    mov = title[i].text.replace("\n",'')
    if(j < 9):
        num = 14
    else:
        num = 15
    mov_title = mov[num:]
    result = mov_title.index('(')
    movie_title.append(mov_title[0:result])
    year_release.append(mov_title[result+1:result+5])
    j += 1

In [7]:
rating=soup.find_all('td',class_='ratingColumn imdbRating')
movie_rating=[]
for i in range(0,100):
    movie_rating.append(rating[i].text.replace("\n",''))

In [8]:
import pandas as pd
movie=pd.DataFrame({})
movie['Name']=movie_title
movie['IMDB rating']=movie_rating
movie['Year of release']=year_release
movie

                        Name IMDB rating Year of release
0   The Shawshank Redemption         9.2            1994
1              The Godfather         9.1            1972
2     The Godfather: Part II         9.0            1974
3            The Dark Knight         9.0            2008
4               12 Angry Men         8.9            1957
..                       ...         ...             ...
95              Citizen Kane         8.3            1941
96                    Dangal         8.3            2016
97              Idi i smotri         8.2            1985
98                   The Kid         8.2            1921
99       Singin' in the Rain         8.2            1952

[100 rows x 3 columns]

In [9]:
movie.to_csv (r'C:\Users\ashis\OneDrive\Desktop\que2.csv', index = False, header=True)

### Que 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [10]:
page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
page

In [11]:
soup=BeautifulSoup(page.content)

In [12]:
title=soup.find_all('td',class_='titleColumn')
movie_title=[]
year_release = []
j=0
for i in range(0,100):
    mov = title[i].text.replace("\n",'')
    if(j < 9):
        num = 14
    else:
        num = 15
    mov_title = mov[num:]
    result = mov_title.index('(')
    movie_title.append(mov_title[0:result])
    year_release.append(mov_title[result+1:result+5])
    j += 1

In [13]:
rating=soup.find_all('td',class_='ratingColumn imdbRating')
movie_rating=[]
for i in range(0,100):
    movie_rating.append(rating[i].text.replace("\n",''))

In [14]:
import pandas as pd
movie=pd.DataFrame({})
movie['Name']=movie_title
movie['IMDB rating']=movie_rating
movie['Year of release']=year_release
movie

                          Name IMDB rating Year of release
0              Pather Panchali         8.5            1955
1                     Gol Maal         8.5            1979
2                      Nayakan         8.5            1987
3                   Anbe Sivam         8.5            2003
4                  Apur Sansar         8.5            1959
..                         ...         ...             ...
95  The Legend of Bhagat Singh         8.0            2002
96                      Barfi!         8.0            2012
97                        Pink         8.0            2016
98                  Bommarillu         8.0            2006
99                      Bombay         8.0            1995

[100 rows x 3 columns]

In [15]:
movie.to_csv (r'C:\Users\ashis\OneDrive\Desktop\que3.csv', index = False, header=True)

### Que 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [16]:
page=requests.get("https://bookpage.com/reviews")
page

In [17]:
soup=BeautifulSoup(page.content)

In [18]:
Name=soup.find_all('h4',class_='italic')
book_title=[]
for i in Name:
    book_title.append(i.text.replace("\n",''))

In [19]:
author=soup.find_all('p',class_='sans bold')
book_author=[]
for i in author:
    book_author.append(i.text.replace("\n",''))

In [20]:
genre=soup.find_all('p',class_='genre-links hidden-phone')
genre_title=[]
for i in genre:
    genre_title.append(i.text.replace("\n",''))

In [21]:
review=soup.find_all('div',class_='flex-article-content')
book_review=[]
for i in range(0,10):
    des1 = review[i].text.replace("\n",'')
    des2 = des1.find(genre_title[i])
    length = len(genre_title[i])
    book_review.append(des1[des2+length:])

In [22]:
import pandas as pd
Book=pd.DataFrame({})
Book['Book Name']=book_title
Book['Author Name']=book_author
Book['Genre']=genre_title
Book['Book Review']=book_review
Book

,Book Name,Author Name,Genre,Book Review
0,Everybody,Olivia Laing,"Nonfiction / Body, Mind & Spirit / Philosophy","Olivia Laing casts a breathtakingly, ambitious..."
1,★ Black Water Sister,Zen Cho,Science Fiction & Fantasy / Fantasy,Sometimes a book makes you forget everything: ...
2,Luck of the Titanic,Stacey Lee,YA / YA Fiction,Stacey Lee has earned critical acclaim and a l...
3,Negative Space,Lilly Dancyger,Nonfiction / Memoir / Art,Lilly Dancyger sets out to uncover the whole t...
4,★ Have You Ever Seen a Flower?,Shawn Harris,Children's / Children's Picture Book,"Some books offer a chance to escape, while oth..."
5,★ The Sum of Us,Heather McGhee,Audio / Nonfiction / Social Science,"Heather McGhee, who narrates the audiobook for..."
6,We Begin at the End,"Chris Whitaker, George Newbern",Audio / Fiction / Crime Fiction,"American actor George Newbern’s clear, unhurri..."
7,★ Stranger Care,Sarah Sentilles,Nonfiction / Memoir / Parenting,Sarah Sentilles lifts her story of foster pare...
8,The Ones We're Meant to Find,Joan He,YA / YA Fiction,Cee has been alone on a remote island for thre...
9,AMORALMAN,David DelGaudio,Audio / Nonfiction / Biography & Memoir,"A magician never reveals their tricks, but for..."

### Que 5(i). Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape.     Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [23]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page

In [24]:
soup=BeautifulSoup(page.content)

In [25]:
team=soup.find_all('span',class_='u-hide-phablet')
team_name=[]
for i in range(0,10):
    team_name.append(team[i].text.replace("\n",''))

In [26]:
match=soup.find_all('td',class_='rankings-block__banner--matches')
team_match=[]
for i in range(0,1):
    team_match.append(match[i].text.replace("\n",''))

In [27]:
match=soup.find_all('td',class_='table-body__cell u-center-text')
for i in range(0,18,2):
    team_match.append(match[i].text.replace("\n",''))

In [28]:
rating=soup.find_all('td',class_='rankings-block__banner--points')
team_rating=[]
for i in range(0,1):
    team_rating.append(rating[i].text.replace("\n",''))

In [29]:
rating=soup.find_all('td',class_='table-body__cell u-center-text')
for i in range(1,19,2):
    team_rating.append(rating[i].text.replace("\n",''))

In [30]:
point=soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
team_point=[]
for i in range(0,1):
    team_point.append(point[i].text.replace(" ",'').replace("\n",''))

In [31]:
point=soup.find_all('td',class_='table-body__cell u-text-right rating')
for i in range(0,9):
    team_point.append(point[i].text.replace("\n",''))

In [32]:
import pandas as pd
ODI=pd.DataFrame({})
ODI['Team Name'] = team_name
ODI['Matches']   = team_match
ODI['Rating']    = team_rating
ODI['Points']    = team_point
ODI

      Team Name Matches Rating Points
0       England      47  5,708    121
1         India      55  6,520    119
2   New Zealand      35  4,137    118
3     Australia      39  4,344    111
4  South Africa      34  3,596    106
5      Pakistan      38  3,861    102
6    Bangladesh      40  3,567     89
7     Sri Lanka      42  3,372     80
8   West Indies      49  3,802     78
9   Afghanistan      31  1,844     59

### Que 5(ii). Top 10 ODI Batsmen in men along with the records of their team and rating.

In [33]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
page

In [34]:
soup=BeautifulSoup(page.content)

In [35]:
player=soup.find_all('div',class_='rankings-block__banner--name')
player_name=[]
for i in range(0,1):
    player_name.append(player[i].text.replace("\n",''))

In [36]:
match=soup.find_all('td',class_='table-body__cell name')
for i in range(0,9):
    player_name.append(match[i].text.replace("\n",''))

In [37]:
team=soup.find_all('div',class_='rankings-block__banner--nationality')
team_name=[]
for i in range(0,1):
    team_name.append(team[i].text.replace("\n",'')[:3])

In [38]:
team=soup.find_all('span',class_='table-body__logo-text')
for i in range(0,9):
    team_name.append(team[i].text.replace("\n",''))

In [39]:
rating=soup.find_all('div',class_='rankings-block__banner--nationality')
player_rating=[]
for i in range(0,1):
    player_rating.append(rating[i].text.replace("\n",'')[-3:])

In [40]:
rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
for i in range(0,9):
    player_rating.append(rating[i].text.replace("\n",''))

In [41]:
import pandas as pd
Player=pd.DataFrame({})
Player['Player Name'] = player_name
Player['Team']   = team_name
Player['Rating']    = player_rating
Player

           Player Name Team Rating
0           Babar Azam  PAK    865
1          Virat Kohli  IND    857
2         Rohit Sharma  IND    825
3          Ross Taylor   NZ    801
4          Aaron Finch  AUS    791
5       Jonny Bairstow  ENG    785
6         Fakhar Zaman  PAK    778
7  Francois du Plessis   SA    778
8         David Warner  AUS    773
9            Shai Hope   WI    773

### Que 5(iii). Top 10 ODI bowlers along with the records of their team and rating.

In [42]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
page

In [43]:
soup=BeautifulSoup(page.content)

In [44]:
player=soup.find_all('div',class_='rankings-block__banner--name')
player_name=[]
for i in range(1,2):
    player_name.append(player[i].text.replace("\n",''))

In [45]:
match=soup.find_all('td',class_='table-body__cell name')
for i in range(9,18):
    player_name.append(match[i].text.replace("\n",''))

In [46]:
team=soup.find_all('div',class_='rankings-block__banner--nationality')
team_name=[]
for i in range(1,2):
    team_name.append(team[i].text.replace("\n",'')[:3])

In [47]:
team=soup.find_all('span',class_='table-body__logo-text')
for i in range(9,18):
    team_name.append(team[i].text.replace("\n",''))

In [48]:
rating=soup.find_all('div',class_='rankings-block__banner--nationality')
player_rating=[]
for i in range(1,2):
    player_rating.append(rating[i].text.replace("\n",'')[-3:])

In [49]:
rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
for i in range(9,18):
    player_rating.append(rating[i].text.replace("\n",''))

In [50]:
import pandas as pd
Player=pd.DataFrame({})
Player['Player Name'] = player_name
Player['Team']   = team_name
Player['Rating']    = player_rating
Player

        Player Name Team Rating
0       Trent Boult  NZ     737
1  Mujeeb Ur Rahman  AFG    708
2        Matt Henry   NZ    691
3    Jasprit Bumrah  IND    690
4      Mehedi Hasan  BAN    668
5     Kagiso Rabada   SA    666
6      Chris Woakes  ENG    665
7    Josh Hazlewood  AUS    660
8       Pat Cummins  AUS    646
9     Mohammad Amir  PAK    638

### Que 6(i). Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape. Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [51]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page

In [52]:
soup=BeautifulSoup(page.content)

In [53]:
team=soup.find_all('span',class_='u-hide-phablet')
team_name=[]
for i in range(0,10):
    team_name.append(team[i].text.replace("\n",''))

In [54]:
match=soup.find_all('td',class_='rankings-block__banner--matches')
team_match=[]
for i in range(0,1):
    team_match.append(match[i].text.replace("\n",''))

In [55]:
match=soup.find_all('td',class_='table-body__cell u-center-text')
for i in range(0,18,2):
    team_match.append(match[i].text.replace("\n",''))

In [56]:
rating=soup.find_all('td',class_='rankings-block__banner--points')
team_rating=[]
for i in range(0,1):
    team_rating.append(rating[i].text.replace("\n",''))

In [57]:
rating=soup.find_all('td',class_='table-body__cell u-center-text')
for i in range(1,19,2):
    team_rating.append(rating[i].text.replace("\n",''))

In [58]:
point=soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
team_point=[]
for i in range(0,1):
    team_point.append(point[i].text.replace(" ",'').replace("\n",''))

In [59]:
point=soup.find_all('td',class_='table-body__cell u-text-right rating')
for i in range(0,9):
    team_point.append(point[i].text.replace("\n",''))

In [60]:
import pandas as pd
ODI=pd.DataFrame({})
ODI['Team Name'] = team_name
ODI['Matches']   = team_match
ODI['Rating']    = team_rating
ODI['Points']    = team_point
ODI

      Team Name Matches Rating Points
0     Australia      18  2,955    164
1  South Africa      24  2,828    118
2       England      17  1,993    117
3         India      20  2,226    111
4   New Zealand      21  1,947     93
5   West Indies      12  1,025     85
6      Pakistan      15  1,101     73
7    Bangladesh       5    306     61
8     Sri Lanka      11    519     47
9       Ireland       2     25     13

### Que 6(ii). Top 10 women’s ODI players along with the records of their team and rating.

In [61]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page

In [62]:
soup=BeautifulSoup(page.content)

In [63]:
player=soup.find_all('div',class_='rankings-block__banner--name-large')
player_name=[]
for i in range(0,1):
    player_name.append(player[i].text.replace("\n",''))

In [64]:
match=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in range(0,9):
    player_name.append(match[i].text.replace("\n",''))

In [65]:
team=soup.find_all('div',class_='rankings-block__banner--nationality')
team_name=[]
for i in range(0,1):
    team_name.append(team[i].text.replace("\n",'')[:3])

In [66]:
team=soup.find_all('span',class_='table-body__logo-text')
for i in range(0,9):
    team_name.append(team[i].text.replace("\n",''))

In [67]:
rating=soup.find_all('div',class_='rankings-block__banner--rating')
player_rating=[]
for i in range(0,1):
    player_rating.append(rating[i].text.replace("\n",'')[-3:])

In [68]:
rating=soup.find_all('td',class_='table-body__cell rating')
for i in range(0,9):
    player_rating.append(rating[i].text.replace("\n",''))

In [69]:
record=soup.find_all('span',class_='rankings-block__career-best-text')
player_record=[]
for i in range(0,1):
    player_record.append(record[i].text.replace("\n",'').replace(" ",''))

In [70]:
record=soup.find_all('td',class_='table-body__cell u-text-right u-hide-phablet')
for i in range(0,9):
    player_record.append(record[i].text.replace("\n",'').replace(" ",''))

In [71]:
import pandas as pd
Player=pd.DataFrame({})
Player['Player Name'] = player_name
Player['Team']   = team_name
Player['Rating']    = player_rating
Player['Record']    = player_record
Player

         Player Name Team Rating                     Record
0     Tammy Beaumont  ENG    765  765vNewZealand,28/02/2021
1        Lizelle Lee   SA    758       773vIndia,14/03/2021
2       Alyssa Healy  AUS    756  756vNewZealand,10/04/2021
3    Stafanie Taylor   WI    746       765vIndia,02/03/2012
4        Meg Lanning  AUS    723  834vNewZealand,24/02/2016
5  Amy Satterthwaite   NZ    715   756vAustralia,02/03/2017
6    Smriti Mandhana  IND    710     797vEngland,28/02/2019
7        Mithali Raj  IND    709   839vAustralia,24/12/2004
8     Natalie Sciver  ENG    685       712vIndia,25/02/2019
9    Laura Wolvaardt   SA    683       725vIndia,07/03/2021

### Que 6(iii). Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [72]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page

In [73]:
soup=BeautifulSoup(page.content)

In [74]:
player=soup.find_all('div',class_='rankings-block__banner--name-large')
player_name=[]
for i in range(0,1):
    player_name.append(player[i].text.replace("\n",''))

In [75]:
match=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in range(0,9):
    player_name.append(match[i].text.replace("\n",''))

In [76]:
team=soup.find_all('div',class_='rankings-block__banner--nationality')
team_name=[]
for i in range(0,1):
    team_name.append(team[i].text.replace("\n",'')[:3])

In [77]:
team=soup.find_all('span',class_='table-body__logo-text')
for i in range(0,9):
    team_name.append(team[i].text.replace("\n",''))

In [78]:
rating=soup.find_all('div',class_='rankings-block__banner--rating')
player_rating=[]
for i in range(0,1):
    player_rating.append(rating[i].text.replace("\n",'')[-3:])

In [79]:
rating=soup.find_all('td',class_='table-body__cell rating')
for i in range(0,9):
    player_rating.append(rating[i].text.replace("\n",''))

In [80]:
record=soup.find_all('span',class_='rankings-block__career-best-text')
player_record=[]
for i in range(0,1):
    player_record.append(record[i].text.replace("\n",'').replace(" ",''))

In [81]:
record=soup.find_all('td',class_='table-body__cell u-text-right u-hide-phablet')
for i in range(0,9):
    player_record.append(record[i].text.replace("\n",'').replace(" ",''))

In [82]:
import pandas as pd
Player=pd.DataFrame({})
Player['Player Name'] = player_name
Player['Team']   = team_name
Player['Rating']    = player_rating
Player['Record']    = player_record
Player

        Player Name Team Rating                      Record
0    Marizanne Kapp  SA     418        418vIndia,17/03/2021
1      Ellyse Perry  AUS    418   548vWestIndies,11/09/2019
2   Stafanie Taylor   WI    410   559vNewZealand,10/10/2013
3    Natalie Sciver  ENG    349   349vNewZealand,28/02/2021
4     Deepti Sharma  IND    343  397vSouthAfrica,09/10/2019
5     Jess Jonassen  AUS    307   308vWestIndies,11/09/2019
6  Ashleigh Gardner  AUS    252   256vNewZealand,04/04/2021
7  Dane van Niekerk   SA    243     421vSriLanka,11/02/2019
8     Sophie Devine   NZ    242    305vAustralia,05/10/2020
9       Amelia Kerr   NZ    236    247vAustralia,07/04/2021

### Que 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

Answer number 7 is in another notbook. Here is the link

https://github.com/ashishmodi27/WEB-SCRAPING-ASSIGNMENT-1/blob/main/Amazon.ipynb

### Que 8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [83]:
page=requests.get("https://forecast.weather.gov/MapClick.php?textField1=37.78&textField2=-122.42#.YI1AqrUzZPY")
page

In [84]:
soup=BeautifulSoup(page.content)

In [85]:
period=soup.find_all('div',class_='col-sm-2 forecast-label')
san_period=[]
for i in range(0,9):
    san_period.append(period[i].text.replace("\n",''))

In [86]:
desc=soup.find_all('div',class_='col-sm-10 forecast-text')
description=[]
for i in range(0,9):
    description.append(desc[i].text.replace("\n",''))

In [87]:
short_desc=soup.find_all('p',class_='short-desc')
short_description=[]
for i in range(0,9):
    short_description.append(short_desc[i].text.replace("\n",''))

In [88]:
temp=soup.find_all('div',class_='tombstone-container')
san_temp=[]
for i in range(0,9):
    des1 = temp[i].text.replace("\n",'')
    des2 = des1.find(short_description[i])
    length = len(short_description[i])
    san_temp.append(des1[des2+length:])

In [89]:
import pandas as pd
Temprature=pd.DataFrame({})
Temprature['Period']            = san_period
Temprature['Short Description'] = short_description
Temprature['Temprature']        = san_temp
Temprature['Description']       =  description
Temprature

,Period,Short Description,Temprature,Description
0,Tonight,Mostly Clear,Low: 51 °F,"Mostly clear, with a low around 51. West north..."
1,Sunday,Sunny,High: 67 °F,"Sunny, with a high near 67. West wind 5 to 10 ..."
2,Sunday Night,Mostly Clear,Low: 53 °F,"Mostly clear, with a low around 53. West wind ..."
3,Monday,Sunny,High: 73 °F,"Sunny, with a high near 73. Southeast wind 5 t..."
4,Monday Night,Mostly Clear,Low: 54 °F,"Mostly clear, with a low around 54. West north..."
5,Tuesday,Sunny,High: 72 °F,"Sunny, with a high near 72."
6,Tuesday Night,Mostly Clear,Low: 51 °F,"Mostly clear, with a low around 51."
7,Wednesday,Sunny,High: 67 °F,"Sunny, with a high near 67."
8,Wednesday Night,Mostly Clear,Low: 51 °F,"Mostly clear, with a low around 51."